{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr {% if u == user %} style="color: #0a53be" {% endif %}>
                <td>{{ u.id }}</td>
                <td>{{ u.email }}</td>
                <td>
                    <table>
                        <tr>
                            {% for role in u.roles %}
                                <td style="padding-right: 15px;">{{ role }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
                <td>{{ u.nom }}</td>
                <td>{{ u.prenom }}</td>
                <td>
                    <a class="btn admin-act act-show" href="{{ path('app_user_show', {'id': u.id}) }}">show</a>
                    {% if 'ROLE_ADMIN' in u.roles %}
                        <a class="btn disabled">mettre admin</a>
                    {% else %}
                        <a class="btn admin-act act-role-g" t="{{ u.id }}" r="1">mettre admin</a>
                    {% endif %}
                    {% if u == user %}
                        <a class="btn disabled">role instructeur</a>
                    {% else %}
                        {% set act_inst = 'g' %}
                        {% set act_txt = 'donner' %}
                        {% if 'ROLE_INSTRUCTEUR' in u.roles %}
                            {% set act_inst = 'r' %}
                            {% set act_txt = 'retirer' %}
                        {% endif %}
                        <a class="btn admin-act act-role-{{ act_inst }}" t="{{ u.id }}" r="2">{{ act_txt }} le role instructeur</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        (()=>{
            const elems = document.getElementsByClassName('admin-act');

            for (let i = 0; i < elems.length; i++) {
                let item = elems.item(i);
                let t = parseInt(item.getAttribute('t')); // targeted user
                let r = parseInt(item.getAttribute('r')); // targeted role
                let a = 0;
                if (item.classList.contains('act-role-g')) a = 1; // add role action
                if (item.classList.contains('act-role-r')) a = 2; // rem role action

                if (isNaN(t) || isNaN(r) || a === 0) {
                    continue;
                }

                item.addEventListener('click', (e) => {
                    let p = `${location.protocol}//${location.host}${location.pathname}`;
                    if (a === 1) {
                        if (r === 1) {
                            p += 'giveadmin/';
                        } else if (r === 2) {
                            p += 'giveinstructeur/'
                        } else return  alert('1#Something went wrong');
                    } else if (a === 2) {
                        if (r === 2) {
                            p += 'removeinstructeur/'
                        } else return  alert('2#Something went wrong');
                    }

                    console.log(`AJAX to: ${p}${t}`);

                    let xhttp = new XMLHttpRequest();
                    xhttp.onload = () => {
                        console.log(this);
                        let c = this.responseText;
                        if (c === '0') alert("An error occured");
                        else window.location.reload();
                    };
                    xhttp.open('POST', `${p}${t}`, true);
                    xhttp.send();

                    e.stopPropagation();
                    return false;
                });
            }
        })();
    </script>

    {#<a href="{{ path('app_user_new') }}">Create new</a>#}
{% endblock %}
