{% extends 'base.html.twig' %}

{% block title %}Edit Atelier{% endblock %}

{% block body %}
    <h1>Edit Atelier</h1>

    {{ include('atelier/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary" href="{{ path('app_atelier_index') }}">back to list</a>

    {% if is_granted('ROLE_INSTRUCTEUR') %}
        {{ include('atelier/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
