{% extends 'base.html.twig' %}

{% block title %}Atelier index{% endblock %}

{% block body %}
    <div class="container">
    <h1>Bienvenue</h1>

        <h2>Liste ateliers</h2>
        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Instructeur</th>
                <th>Name</th>
                <th>Note</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for atelier in ateliers %}
                <tr class="table-active">
                    <td>{{ atelier.id }}</td>
                    <td>{{ atelier.instructeur.nom }}<br>{{ atelier.instructeur.prenom }}</td>
                    <td>{{ atelier.name }}</td>
                    <td>{{ notes[atelier.id] }} / 5</td>
                    <td>{{ atelier.description |u.truncate(200, '...', false)| raw}}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ path('app_atelier_show', {'id': atelier.id}) }}">show</a>
                        {% if is_granted('ROLE_INSTRUCTEUR') %}
                            <a class="btn btn-outline-primary" href="{{ path('app_atelier_edit', {'id': atelier.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% if is_granted('ROLE_INSTRUCTEUR') %}
        <a class="btn btn-outline-primary" href="{{ path('app_atelier_new') }}">Create new</a>
    {% endif %}
    </div>
{% endblock %}
