{% extends 'base.html.twig' %}

{% block title %}Inscriptions{% endblock %}

{% block body %}
    <div class="container">
    <h1>Liste des inscriptions</h1>
    <table class="table table-hover table-striped table-bordered">
        <thead><tr>
            <th>Id</th>
            <th>Instructeur</th>
            <th>Name</th>
            <th>Note</th>
            <th>Description</th>
            <th>Actions</th>
        </tr></thead>
        <tbody>
        {% for atelier in ateliers %}
        <tr class="table-active">
            <td>{{ atelier.id }}</td>
            <td>{{ atelier.instructeur.nom }}<br>{{ atelier.instructeur.prenom }}</td>
            <td>{{ atelier.name }}</td>
            <td>{{ avgNotes[atelier.id] }} / 5</td>
            <td>{{ atelier.description | u.truncate(200,'...',false) | raw }}</td>
            <td>
                <a class="btn btn-outline-primary" href="{{ path('app_atelier_show',{'id': atelier.id}) }}">show</a>
                {% if is_granted('ROLE_INSTRUCTEUR') %}
                <a class="btn btn-outline-secondary" href="{{ path('app_atelier_edit',{'id': atelier.id}) }}">edit</a>
                {% endif %}
                {% if atelier.id in notes|keys %}
                    {% set noteVal = notes[atelier.id] %}
                    <a class="btn btn-outline-secondary note-btn" v="{{ noteVal }}" aid="{{ atelier.id }}">Note: {{ noteVal }}</a>
                {% else %}
                    <a class="btn btn-outline-secondary note-btn" aid="{{ atelier.id }}">Noter</a>
                {% endif %}
                {# Classes 'v' and 'aid' respectively correspond to the note's value and it atelier's ID #}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6"><b>No subscriptions</b></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <script type="text/javascript">
        (() => {
            let elements = document.getElementsByClassName('note-btn');
            for (let j = 0; j < elements.length; j++) {
                let e = elements.item(j);
                let aid = e.getAttribute('aid');
                let v = 5;
                let c = false;
                if (e.hasAttribute("v")) {
                    let t = parseInt(e.getAttribute('v'));
                    c = !isNaN(t);
                    v = isNaN(t) ? v : t;
                }
                e.addEventListener("click", () => {
                    let i = parseInt(prompt("Note ?\n(-1 to remove)",`${v}`));

                    if (isNaN(i) || i < -1 || i > 5) {
                        let b = isNaN(i) ? 'not a number' : 'out of range';
                        alert(`Invalid value ${i}: ${b}.\nValue must be between -1 and 5.`);
                        return;
                    }

                    if(i === v && c) {
                        return;
                    }

                    let p = location.pathname.split("/");
                    let t = i === -1 ? `removenote/${aid}` : `noter/${aid}/${i}`;
                    let u = `${location.protocol}//${location.host}${p.slice(0,p.length-1).join("/")}/${t}`;

                    window.location.replace(u);
                })
            }
        })()
    </script>
{% endblock %}