{% extends 'base.html.twig' %}

{% block title %}Atelier index{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste d'utilisateurs inscrit à l'atelier {{ atelier.name }}</h1>
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="table-active">
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}