{% extends 'base.html.twig' %}

{% block title %}Atelier{% endblock %}

{% block body %}
    <div class="container">
        <h1>Atelier</h1>

        <table class="table table-hover table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ atelier.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ atelier.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ atelier.description | raw }}</td>
                </tr>
                <tr>
                    <th>Note</th>
                    <th>{{ note }} / 5</th>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-outline-primary" href="{{ path('app_atelier_index') }}">back to list</a>

        {% if is_granted('ROLE_INSTRUCTEUR') %}
            <a class="btn btn-outline-primary" href="{{ path('app_atelier_edit', {'id': atelier.id}) }}">edit</a>
            <a class="btn btn-outline-primary" href="{{ path('app_atelier_liste_users', {'id': atelier.id}) }}">liste utilisateur</a>


            {{ include('atelier/_delete_form.html.twig') }}
        {% endif %}

        {% if is_granted('ROLE_APPRENTI') %}
            {% if inscrit %}
            <a class="btn btn-primary" href="{{ path('app_atelier_desinscription', {'id': atelier.id}) }}">désinscription</a>
            {% else %}
            <a class="btn btn-primary" href="{{ path('app_atelier_inscription', {'id': atelier.id}) }}">inscription</a>
            {% endif %}
        {% endif %}

    </div>
    {% endblock %}
