
* {
    --asset-bg: #198754;
    --asset-bg-outline: #157146;
    --asset-outline-light: #42a571
}

.bg-primary {
    background-color: var(--asset-bg) !important;
}

a.btn {
    border: 1px solid var(--asset-outline-light) !important;
}

.btn:hover, .nav-link:hover, .navbar-brand:hover {
    color: white !important;
    background-color: var(--asset-bg-outline) !important;
    border: 1px solid var(--asset-bg) !important;
    border-radius: 3px !important;
}

.nav-link {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.nav-link, .navbar-brand {
    border: 1px solid transparent !important;
    border-radius: 3px !important;
}

body {
    background-color: lightgray;
}

.btn-delete {
    background-color: #840e49;
}