<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-success">
<!--
    <a href="#"><i class="fas fa-anchor text-warning fa-2X"></i></a>
-->
    <div class="container-fluid" style="justify-content: space-between">
        <a class="navbar-brand text-light text-uppercase font-weight-bold px-3" href="/">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link text-light font-weight-bold text-uppercase" href="{{ path('app_user_index') }}">Utilisateurs</a>
                </li>
                {% endif %}
                {%  if is_granted('ROLE_INSTRUCTEUR') %}
                <li class="nav-item">
                    <a class="nav-link text-light font-weight-bold text-uppercase" href="{{ path('app_atelier_new') }}">Nouvel atelier</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_APPRENTI') %}
                <li class="nav-item">
                    <a class="nav-link text-light font-weight-bold text-uppercase" href="{{ path('app_atelier_inscriptions') }}">Inscriptions</a>
                </li>
                {% endif %}
                <li class="float-end nav-item">
                    <a class="nav-link text-light font-weight-bold text-uppercase" href="{{ path('app_logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="d-flex nav-item">
                    <a class="nav-link text-light font-weight-bold text-uppercase" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="d-flex nav-item">
                    <a class="nav-link text-light font-weight-bold text-uppercase" href="{{ path('app_register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
